<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{request.static_url('learning_journal:static/normalize.css')}}">
  <link rel="stylesheet" href="{{request.static_url('learning_journal:static/skeleton.css')}}">
  <title>Document</title>
</head>
<body>
  <h1>Entry Detail</h1>
  <p>You're viewing a detail page for a single Entry!</p>
</body>
</html>
