<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stocks</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{{request.route_url('home')}}">Home</a>
        </li>
        <li>
          <a href="{{request.route_url('auth')}}">Auth</a>
        </li>
        <li>
          <a href="{{request.route_url('portfolio')}}">Portfolio</a>
        </li>
        <!--<li>
          <a href="{{request.route_url('stock')}}">Add Stocks</a>
        </li>-->
      </ul>
    </nav>
  </header>
  <main>
    <h1>Pyramid Stock Tracker</h1>
    <p>Woo</p>

    {% block content %}
    <p>No content</p>
    {% endblock content %}

  </main>
</body>

</html>
