{% extends "base.jinja2" %} 

{% block content %}
<ul id="stock detail">
  <li id="volume">{{stock.companyName}}</li>
  <li id="price">{{stock.symbol}}</li>
  <li id="closing price">{{stock.CEO}}</li>
  <li id="change">{{stock.exchange}}</li>
  <li id="opening price">{{stock.industry}}</li>
  <li id="closing price">{{stock.website}}</li>
  <li id="closing price">{{stock.issueType}}</li>
  <li id="closing price">{{stock.description}}</li>
  <li id="closing price">{{stock.sector}}</li>
</ul>
{% endblock content %}
