{% extends "base.jinja2" %}

{% block content %}

<h3>Title</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut velit voluptatum, nisi corporis minima sequi explicabo reprehenderit, at vero quo, fugiat repudiandae! Autem explicabo, id dolores mollitia temporibus impedit!</p>

{% endblock content %}