{% extends "base.jinja2" %}

{% block content %}
<h3>{{data.companyName}}</h3>
<p>({{data.website}}) {{data.industry}} {{data.exchange}} {{data.CEO}} {{data.issueType}} {{data.sector}}</p>
<p>{{data.description}}</p>
{% endblock content %}